/* General */

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

/* Main three "rows" */

.fx-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fx-chart-trades {
    display: flex;
    flex: 1;
}

.fx-options {
    display: flex;
    flex: 0 0 200px;
}

.fx-footer {
    flex: 0 0 auto;
}

/* Cells */

.fx-chart {
    flex: 1;
}

.fx-trades, .fx-chart-options {
    flex: 0 0 250px;
}

.fx-trading-options {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.fx-chart-options {
    display: flex;
    flex-direction: column;
}

/* Trading options form */

.fx-api-key, .fx-secret-key {
    display: flex;
}

.fx-api-key label, .fx-secret-key label {
    flex-basis: 100px;
}

.fx-api-key input, .fx-secret-key input {
    flex: 1;
}

/* Chart options form */

.fx-grouping-unit {
    display: flex;
}

.fx-grouping-unit label {
    flex: 1;
}

.fx-volume-unit {
    display: flex;
}

.fx-volume-unit label {
    flex: 1;
}

.fx-cumulated-volume {
    display: flex;
}

.fx-cumulated-volume label {
    flex: 1;
}
