/* General stuff */

.fx-chart, .fx-trading-options {
    border-right: 1px solid #d3d3d3;
}

.fx-trades, .fx-trading-options, .fx-chart-options {
    padding: 15px;
}

input:focus {
    outline: none;
}

input[type="text"] {
    text-align: right;
}

/* Trades table */

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Menlo, monospace;
    font-size: 12px;
}

tr {
    text-align: right;
}

td:nth-child(1) {
    text-align: left;
}

.fx-trades {
    overflow-y: auto;
}

.bid {
    color: #27ae60;
}

.ask {
    color: #e74c3c;
}

/**/

.fx-trading-options input {
}

.fx-options {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    font-family: sans-serif;
}

.fx-footer {
    padding: 7px;
    text-align: center;
    font-family: Menlo, monospace;
    font-size: 12px;
}

.fx-volume-unit-choice {
    text-align: right;
}

.fx-api-key, .fx-secret-key, .fx-grouping-unit, .fx-volume-unit, .fx-cumulated-volume, .fx-volume-unit-contract {
    padding-bottom: 7px;
}
