body, input {
    font-family: sans-serif;
    font-size: 15px;
}

p {
    text-align: center;
}

#grouping-unit {
    text-align: right;
    width: 50px;
    border: none;
    border-bottom: 1px dashed black;
}

input[type="text"]:focus {
    outline-width: 0;
}
